.DS_Store
models/__pycache__
models/heads/__pycache__
datasets/__pycache__
mamba_ssm-2.2.2+cu118torch2.1cxx11abiFALSE-cp310-cp310-linux_x86_64.whl
causal_conv1d-1.5.0.post8+cu11torch2.1cxx11abiTRUE-cp310-cp310-linux_x86_64.whl
utils/__pycache__
data
output
attn.pkl
movie.zip
fslinstaller.py
dlc_run.sh
datasets/ukb_roi
datasets/HCP1200_roi.zip
datasets/HCP1200_roi
datasets/hcp_task_roi
scripts/dataset_download/hcp_t1t2
datasets/save_frames.py
datasets/hcp_task_2448996.csv
.vscode/settings.json

__pycache__/


# Python bytecode
__pycache__/
*.py[cod]
*$py.class


*.egg-info/
**/*.egg-info/
